.odd{
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#second{
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#four{
    background-color: #90ee90;
    font-weight: bold;
}