body {
  background: #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  width: 400px;
  margin: 16px auto;
  padding: 8px;
  background: #fff;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px; 
}

button {
  background: white;
  border: 1px solid rgb(47, 41, 43);
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
} 