body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-size: 22px;
  font-weight: 800;
}

.small-para {
  font-size: 14px;
}

.button {
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.child {
  font-weight: 800;
  font-size: 14px;
}

div {
  font-size: 22px;
  font-weight: 100;
}